body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}
h1 {
  margin-bottom: 40px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hover-cursor {
  cursor: pointer;
}

#titles, #waveform-container {
  margin: 24px auto;
  width: 100%;
}

#zoomview-container, #overview-container {
  margin: 0 0 24px 0;
  line-height: 0;
  -moz-box-shadow: 1px 1px 20px #919191;
  -webkit-box-shadow: 1px 1px 20px #919191;
  box-shadow: 1px 1px 20px #919191;
}

#zoomview-container {
  height: 200px;
}

#overview-container {
  height: 85px;
}

#demo-controls {
  margin: 0 auto 24px auto;

  display: flex;
  align-items: center;
}

#demo-controls button {
  background: #fff;
  border: 1px solid #919191;
  cursor: pointer;
}

#audio {
  flex: 0 0 30%;
}

#controls {
  flex: 1;
  margin-left: 1em;
}

#segments {
  margin-top: 32px;
}

#seek-time {
  width: 4em;
}

.log {
  /* margin: 0 auto 24px auto; */
  /* width: 1000px; */
}

table {
  width: 100%;
}

table th {
  text-align: left;
}

table th, table td {
  padding: 0.5em;
}

.hide {
  display: none;
}

.comment-helper-button {
  margin-left: 10px;
  float: right;
}

ul#points-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#points-container li {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  max-width: 600px;
}
#points-container li + li {
  margin-top: 8px;
}