:root {
  --container-width: 1200px;
  --comments-width: 650px;
  --border-color-1: #ccc;
  --link-color: #007bff;
  --link-color-hover: #0056b3;

  --pt-purple-bg: rgb(208,185,226);
  --pt-purple-fg: rgb(127,50,245);
  --pt-grey-bg: rgb(209,209,209);
  --pt-grey-fg: rgb(47,47,47);
  --pt-green-bg: rgb(155,196,172);
  --pt-green-fg: rgb(33,71,46);
  --pt-border-color: rgb(118,124,121);
  --default-waveform-bg: white;
  --default-waveform-fg: rgba(0, 225, 128, 1);

  --overview-waveform-bg-color: var(--pt-grey-bg);
  --overview-waveform-color: var(--pt-grey-fg);
  --overview-waveform-border-color: #ccc;

  --zoom-wave-form-bg-color: var(--default-waveform-bg);
  --zoom-wave-form-color: var(--default-waveform-fg);
  --zoom-waveform-border-color: white;

  --point-marker-color: var(--link-color);
  --playhead-color: #ff0000;
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 50px 0;
}

h1 {
  margin-bottom: 40px;
  word-break: break-all;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

button[role=link] a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.hover-cursor {
  cursor: pointer;
}

#waveform-container {
  background: white;
  /* border-bottom: 1px solid var(--border-color-1); */
  padding: 15px;
  /* box-sizing: border-box; */
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

#zoomview-container,
#overview-container {
  margin: 0 0 24px 0;
  line-height: 0;
  -moz-box-shadow: 1px 1px 20px var(--border-color-1);
  ;
  -webkit-box-shadow: 1px 1px 20px var(--border-color-1);
  ;
  box-shadow: 1px 1px 20px var(--border-color-1);
  ;
  border-radius: 2px;;
}

#zoomview-container {
  height: 200px;
  background: var(--zoom-wave-form-bg-color);
  border: 2px solid var(--zoom-waveform-border-color);
}

#overview-container {
  height: 85px;
  background: var(--overview-waveform-bg-color);
  border: 2px solid var(--overview-waveform-border-color);
}

#demo-controls {
  margin: 0 auto 24px auto;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid var(--border-color-1); */
}

#demo-controls button {
  background: #fff;
  border: 1px solid #919191;
  cursor: pointer;
}

#audio {
  flex: 0 0 30%;
}

#controls {
  flex: 1;
  margin-left: 1em;
}

#segments {
  margin-top: 32px;
}

#seek-time {
  width: 4em;
}

#comment-form {
  max-width: var(--comments-width);
}

#comment-textarea {
  display: block;
  border: 1px solid var(--border-color-1);
  width: 100%;
  resize: none;
  height: 50px;
}

.comment-form-bottom {
  text-align: right;
}

.log {
  /* margin: 0 auto 24px auto; */
  /* width: 1000px; */
}

.hide {
  display: none;
}

.comment-helper-button {
  margin-left: 10px;
  float: right;
}

ul#points-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: var(--comments-width);
}

.comment-row {
  border: 1pt solid var(--link-color);;
  border-radius: 8px;
  padding: 8px 8px 8px 12px;
  display: flex;
  flex-direction: row;
  color: var(--link-color);
  text-decoration: underline;
}

.comment-row:hover {
  border: 1.5pt solid var(--link-color-hover);
  color: var(--link-color-hover);
}

.comment-row:active {
  border: 2pt solid var(--link-color-hover);
  color: var(--link-color-hover);
}

.comment-row>span.comment-text {
  flex: 1;
}

.comment-time {
  text-decoration: underline;
}

.comment-row+.comment-row {
  margin-top: 8px;
}